RewriteEngine on
RewriteCond %{REQUEST_URI} !^/ahs/public/
RewriteCond %{REQUEST_URI} !^/ahs/index.html
RewriteCond %{REQUEST_URI} !^/ahs/
RewriteRule ^(.*)$ /ahs/public/$1 [L]
DirectoryIndex index.php
