RewriteEngine On

# Redirect all requests to the public folder unless they already point there
RewriteCond %{REQUEST_URI} !^/ahs/public/
RewriteRule ^(.*)$ /ahs/public/$1 [L]

# Specify the directory index
DirectoryIndex index.php
